:root {
    --cbg-color: #10c9c3;
}

.navbar a img {
    width: 150px;
}

body {
    overflow-x: hidden;
}

.main_nav ul li a {
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    color: #191919 !important;
}

.navbarByMe {
    transition: all 0.3s ease-in;
}

.navbarByMe.sticky {
    background: var(--cbg-color);
    position: fixed;
    width: 100%;
    z-index: 999999;
    padding: 0 !important;

}



#current_page.current_page,
.main_nav ul li a:hover {
    color: var(--cbg-color) !important;
}

.navbarByMe.sticky #current_page.current_page,
.navbarByMe.sticky .main_nav ul li a:hover {
    color: #fff !important;
}

.maain_header {
    background: url(media/images/header-bg.jpg);
    width: 100vw;
    height: 100vh;
    background-size: cover;
}

.h_m_name {
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    font-size: 38px;
}

.h_ct_btn {
    background: var(--cbg-color);
    color: #fff;
}

.h_rs {
    position: relative;
}

.h_rcontent {
    position: absolute;
    top: 50% !important;
    transform: translateY(-40%);
}

.h_rcontent p {
    font-family: 'Nunito Sans', sans-serif;
    color: #787878;
}

.title {
    position: relative;
    font-size: 30px;
}

.title::before {
    content: "";
    position: absolute;
    width: 80px;
    height: 3px;
    left: 0;
    bottom: -15px;
    background: var(--cbg-color);
    display: inline-block;
}

.lb-white::before {
    background: #fff;
}

.a_my_name {
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    font-size: calc(1.15rem + 1.2vw);

    /* font-size: 24px; */
}

.ab_iam {
    font-family: 'Montserrat', sans-serif;
}

.ab_iam span {
    color: crimson;
}

.my_sig {
    width: 100px;
}

.ab_pt {
    color: #787878;
    font-family: 'Montserrat', sans-serif;
    font-size: 1rem;
}

.sk_left {
    background: #f8f9f9;
}

.innersk {
    max-width: 570px;
    width: 96%;
}

.sk_right {
    background: #e9e9e9;
}


.bg-progress {
    background-color: var(--cbg-color) !important;
}

.w-95 {
    width: 95%;
}

.text-progress {
    color: var(--cbg-color);
}

.w-90 {
    width: 90%;
}

.w-85 {
    width: 85%;
}

.bg-mp {
    background: #b5dff0;
}

.w-80 {
    width: 80%;
}

.bg-my {
    background: var(--cbg-color);
}

.wf_text {
    font-size: 18px;
}

.progress_height {
    height: 8px;
}

.vo_iframe {
    width: 90%;
    height: 250px;
}

@media screen and (min-width:768px) {
    .skprogress_right {
        margin-top: 80px;
    }

    .wd_text {
        font-size: 1rem;
    }

    .vo_iframe {
        width: 75%;
        height: 500px;
    }
}